body {
    background-color: transparent;
    color: #e2e2e2;
    font-family: 'Open Sans', sans-serif;
}

a
{
    color: #FFE033;
    /*text-decoration: none;
    vertical-align: baseline;*/
}

h1
{
    font-size: 18px;
    /*margin: 0 0 0.75em;
    padding: 0 0 0.25em 0;*/
}

li
{
    list-style-type: disc;
}

span.RedColor
{
    color: #FF4E4E;
}