body {
    background-color: transparent;
    /*color: #e2e2e2;*/
    color: $FORECOLOR;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 18px;
    /*margin: 0 0 0.75em;
    padding: 0 0 0.25em 0;*/
}

li
{
    list-style-type: disc;
}

span.RedColor
{
    color: #FF4E4E;
}

span.GreenColor
{
    color: #6EE16C;
}

table {
    border-spacing: 5px;
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
}

th {
    text-align: left;
}